{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Available Remedies{% endblock %}</h2>
    <form class="d-flex" role="search" method="post">
      <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name="query">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  {% if g.user %}
  <a href="" class="btn btn-info" role="button">Add New</a>
  {% endif %}
{% endblock %}
{% block content %}
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr scope="row">
          <th scope="col">Remedy</th>
          <th scope="col">Available Potencies</th>
          <th scope="col">Available Materia Medicas</th>
          <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    {% for r in remedy_list %}
      <tr scope="row">
        <td>{{ r.name }}</td>
        <td>
            {% for i, p in r.potency.values_list %}
                {% if not forloop.last %}
                    {{ p }},
                {% endif %}

                {% if forloop.last %}
                    {{ p }}
                {% endif %}
            {% endfor %}
        </td>
        <td>{{ r.materiaMedica.count }} Available <a class="btn btn-info" href="{% url 'homeo:materia' r.id %}">View</a></td>
        <td><a class="btn btn-info" href="{% url 'homeo:remedy' r.id %}">View Remedy</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}