{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Available Remedies{% endblock %}</h2>
    <form class="d-flex" role="search" method="get">
        <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name="query" value={{ query }}>
        <button class="btn btn-outline-success me-1" type="submit">Search</button>
        {% if query != "" %}
            <a class="btn btn-outline-danger" role="button" href="/homeo">X</a>
        {% endif %}
    </form>
{#  {% if g.user %}#}
{#  <a href="" class="btn btn-info" role="button">Add New</a>#}
{#  {% endif %}#}
{% endblock %}
{% block content %}
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr scope="row">
          <th scope="col" class="text-center">Remedy</th>
          <th scope="col" class="text-center">Available Potencies</th>
          <th scope="col" class="text-center">Available Materia Medicas</th>
          <th scope="col" class="text-center"></th>
        </tr>
    </thead>
    <tbody>
    {% for r in remedy_list %}
      <tr scope="row">
        <td class="col">{{ r.name }}</td>
        <td class="col">
            {% for i, p in r.potency.values_list %}
                {% if not forloop.last %}
                    {{ p }},
                {% endif %}

                {% if forloop.last %}
                    {{ p }}
                {% endif %}
            {% endfor %}
        </td>
        <td class="col text-center">{{ r.materiaMedica.count }} Available
{#            <a class="btn btn-info" href="{% url 'homeo:materia' r.id %}">View</a>#}
        </td>
        <td class="col text-center"><a class="btn btn-info btn-sm" href="{% url 'homeo:remedy' r.id %}">View Remedy</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}